html, body {
	padding: 0;
	margin: 0;
	background: #FFF;
	color: #000;
	font-family: Georgia, sans-serif;
}

body {
	font-size: 0.8em;
}

header a:after {
	display: none;
}

a[href="#top"], nav, footer {
	display: none
}

a {
	counter-increment: links;
	color: #000;
	text-decoration: none;
}

a:after {
	font-size: 0.5em;
	vertical-align: super; 
	content: " (" attr(href) ")";
}

h2 {
	border-bottom: 1px solid #000;
}

h3 {
	margin-bottom: .25em;
}

p {
	margin-top: .25em;
}

img {
	max-width: 50%;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;
}